<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title | capitalize}}</title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: whitesmoke;
            color: #1d1d1d;
        }

        center {
            padding: 0.8rem;
        }

        p,
        div {
            text-align: justify;
        }

        table,
        tr,
        td {

            border-spacing: 0;
        }

        .wrapper {
            width: 100%;
            background-color: whitesmoke;
            padding: 0 0 3rem;
            table-layout: fixed;
        }

        .main {
            margin: 0 auto;
            padding: 0 0 3rem;
            background-color: #ffffff;
            width: 100%;
            max-width: 610px;
            box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1);
            border-radius: 25px 25px 0 0
        }

        .padding {
            padding: 15px;
        }

        .btn {
            padding: .5rem 1rem;
            border-radius: .2rem;
            border: none;
            outline: none;
            text-decoration: none;
            transition: all;
            transition-duration: 700ms;
            text-align: center;
            word-wrap: break-word;
        }

        .action-btn {
            color: #ffffff;
            background-color: #7F1D1D;
            display: inline-block;
            transition-delay: 200ms;
        }


        .action-btn:hover {
            color: #ffffff;
            background-color: #0F172A;
        }

        .link {
            text-decoration: none;
        }

        .gap {
            margin-top: .7rem;
            margin-bottom: .7rem;
        }
    </style>
</head>

<body>
    <center class="wrapper">
        <!-- logo -->
        <center class="gap" style="text-align: center;">
            <a href="https://prolifolio.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #7F1D1D">
                <h1 style="font-size: 2rem; font-weight: bolder"> <img src="https://prolifolio.vercel.app/logo.png" alt="" style="width: 50px;height: auto;">
                    <span valign="middle"  style="vertical-align:middle;">Prolifolio</span> 
                </h1>
            </a>
        </center>

        <table class="main">
            <!-- content -->
            <tr>
                <td class="gap padding" style="background: #ffffff; min-height: 350px ;">
                    {% block content %}
                    This is the default content
                    {% endblock %}
                </td>
            </tr>

            <!-- disclaimer -->
            <tr>
                <td class="padding">
                    <h1 style="font-size: 0.9rem; font-weight: bolder;" class="gap">DISCLAIMER:</h1>

                    <p>
                        You recieved this mail as your the: {{email}} is linked to an account on
                        <a href="https://prolifolio.vercel.app/" target="_blank" rel="noopener noreferrer" class="link"
                            style="color: inherit;">
                            <b style="font-size: 0.9rem; font-weight: bolder;" class="gap">
                                Prolifolio</span>
                            </b>
                        </a>
                    </p>
                </td>
            </tr>
        </table>


        <!-- signature -->
        <footer
            style="color:white; background:#0F172A; font-size: 1.25rem; line-height: 1.75rem" >
            <div>
                <a href="https://prolifolio.vercel.app/">&copy; Prolifolio</a>
                <div class="gap-x-2 flex pr-4">
                    <a href="#">
                    </a>
                    <a href="#">
                    </a>
                </div>
            </div>
        </footer>
    </center>
</body>

</html>