<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title | capitalize}}</title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            color: #1d1d1d;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: whitesmoke;
        }

        center {
            padding: 0.8rem;
        }

        p,
        div {
            text-align: justify;
        }

        table,
        tr,
        td {

            border-spacing: 0;
        }

        .wrapper {
            width: 100%;
            background-color: whitesmoke;
            padding: 0 0 3rem;
            table-layout: fixed;
        }

        .main {
            margin: 0 auto;
            background-color: #ffffff;
            min-height: 350px ;
            width: 100%;
            max-width: 610px;
            box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1);
            padding: 2rem 3rem;
            border-radius: 1.5rem
        }

        .padding {
            padding: 1.5rem;
        }

        .btn {
            padding: .5rem 1rem;
            border-radius: .2rem;
            border: none;
            outline: none;
            text-decoration: none;
            transition: all;
            transition-duration: 700ms;
            text-align: center;
            word-wrap: break-word;
        }

        .action-btn {
            color: #ffffff;
            background-color: #7F1D1D;
            display: inline-block;
            transition-delay: 200ms;
        }


        .action-btn:hover {
            color: #ffffff;
            background-color: #0F172A;
        }

        .link {
            text-decoration: none;
            padding-inline:1rem;
        }

        .gap {
            margin-top: .7rem;
            margin-bottom: .7rem;
        }
    </style>
</head>

<body>
    <center class="wrapper">
        <!-- logo -->
        <center class="gap" style="text-align: center;">
            <a href="https://prolifolio.vercel.app/" target="_blank" rel="noopener noreferrer" style="color: #7F1D1D; padding-top: 1rem; " class="link">
                    <img src="https://prolifolio.vercel.app/logo.png" alt="" style="width: 50px;height: auto;" >
            </a>
        </center>

        <table class="main gap padding">
            <!-- content -->
            <tr>
                <td>
                    {% block content %}
                    This is the default content
                    {% endblock %}
                </td>
            </tr>

            <!-- disclaimer -->
            <tr>
                <td style="padding-top:1.5rem">
                    <h1 style="font-size: 0.9rem; font-weight: bolder;" class="gap">DISCLAIMER:</h1>

                    <p>
                        You recieved this mail as your the: {{email}} is linked to an account on
                        <a href="https://prolifolio.vercel.app/" target="_blank" rel="noopener noreferrer" class="link"
                            style="color: inherit;">
                            <b style="font-size: 0.9rem; font-weight: bolder;" class="gap">
                                Prolifolio</span>
                            </b>
                        </a>
                    </p>
                </td>
            </tr>
        </table>

        <!-- signature / footer -->
        <center style="color:white; color: #0F172A; font-size: 1.25rem; line-height: 1.75rem; text-align: center;"  class="padding">
            <center>
                <a href="https://prolifolio.vercel.app/" style="color:#0F172A" class="link">
                    <b>&copy; Prolifolio</b>
                </a>
            </center>
            <center>
                <a href="#" style="color:#0F172A" class="link">
                </a>
                <a href="#" style="color:#0F172A" class="link">
                </a>
            </center>   
        </center>
    </center>
</body>

</html>