
<style type="text/css">
    .row {
        width: 100%;
    }

    .shadow {
        box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.1);
    }

    .col-2 {
        max-width: 300px;
    }

</style>

Hi {{data.name}}!,
<p class="gap">
    We've got these for you 
</p>

<div class="row">
    <h1 class="padding">
        {{data.listType}}
    </h1>
    <div class="row" style="text-align: justify;">
    <div>
        {% for item in items %}
            <div>
                {% block template %}
                    This is the default content
                {% endblock %}
            </div>
        {% else %}
            <div>Nothing Here</div>
        {% endfor %}
    </div>
    </div>
</div>

        