{% extends "./defaultLayout.njk" %}
{% block content %}
Hello {{data.name}}!,
<p class="gap">
    Use this One Time Pin (OTP) for your account,
</p>
<p class="gap">
    {{data.otp}}
</p>
{% endblock %}