{% extends "./defaultLayout.njk" %}
{% block content %}
Hello {{data.name}}!,
<p class="gap">
    To reset Your password copy the link below or click
</p>

<p class="gap">
    <a href="https://prolifolio.vercel.app/reset-password/{{data.token}}" target="_blank" class="btn action-btn"
        style="color:white ; display:block;width: fit-content;"><b>Reset Password</b>
    </a>
</p>
<a target="_blank" href="https://prolifolio.vercel.app/reset-password/{{data.token}}">
    https://prolifolio.vercel.app/reset-password/{{data.token}}
</a>
{% endblock %}