{% extends "./defaultLayout.njk" %}
{% block content %}
<p class="gap">Hello, {{data.name}}!!!</p>
<div>Welcome onboard</div>

<a href="https://prolifolio.vercel.app/my-account" target="_blank" class="btn action-btn gap">
    <b>Let's Journey Today</b>
</a>
{% endblock %}